<!doctype html>
<html lang="en">
  {% include 'head.html' %}

  <body style="position: relative;">
    {% include 'top_menu.html' %}

    <div class="container-fluid">
      <div class="row">
        {% include 'cancer_molecule/sidebar.html' %}

        <div class="col-10 offset-2 px-3 content main-content">

          <h2 id="expression">The distribution of {{ molecule }} expression in TCGA-{{ cancer }}</h2>
          <div>
            <div id="expression-plot"></div>
          </div>
          
          <h2 id="targeting-correlations">Sequence-based predicted {{ "targets" if is_isomiR else "5'-isomiR regulators" }} and correlation analysis</h2>
          <p>
            {% if is_isomiR %}
              Target genes of {{ molecule }} are predicted with the use of miRDB and TargetScan.
            {% else %}
              IsomiR regulators of {{ molecule }} are predicted with the use of miRDB and TargetScan.
            {% endif %}
            Only miRDB predictions with Target Score &geq; 80 are shown.
            The number of TargetScan predictions is harmonized with miRDB
            by selecting the same amount of targets with the lowest
            cumulative weighted context++ scores. We assume that 5'-isomiR
            downregulates target gene on mRNA level in TCGA-{{ cancer }}
            if their expression levels
            are significantly anti-correlated (Spearman's correlation &lt; -0.3, <i>p</i> &lt; 0.05).
          </p>
          {% set target_dfs = [targets.loc[targets["highly_expressed"] == 'True'], targets.loc[targets["highly_expressed"] == 'False']] if not is_isomiR else [targets]  %}
          {% for targets in target_dfs %}
            {% if not is_isomiR and loop.index0 == 0 %}
              <h4 style="padding-top: 0;">Highly expressed 5'-isomiR regulators</h4>
              <p>
                I.e., included in the list of 5'-isomiRs contributing to 95% of total
                TCGA-{{ cancer }} miRNA sequencing reads.
              </p>
            {% elif not is_isomiR and loop.index0 == 1 %}
              <h4 id="non-he-targeting-correlations">Non-highly expressed 5'-isomiR regulators</h4>
            {% endif %}
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  {% if is_isomiR %}
                    <th class="align-top">Target gene</th>
                  {% else %}
                    <th class="align-top">5'-isomiR</th>
                  {% endif %}
                  <th class="align-top">Spearman's<br>correlation</th>
                  <th class="align-top"><i>p</i>-value</th>
                  {% if is_isomiR %}
                    <th class="align-top">Median<br>target<br>expression<br>(TPM)</th>
                  {% else %}
                    <th class="align-top">Median<br>isomiR<br>expression<br>(RPM)</th>
                  {% endif %}
                  <th class="align-top">miRDB<br>Target<br>Score</th>
                  <th class="align-top">TargetScan<br>cumulative<br>weighted<br>context++<br>score</th>
                </tr>
              </thead>
              <tbody>
                {% for target, row in targets.iterrows()%}
                  <tr style="font-weight: {{ 'bold' if row['significant'] == 'True' else 'normal' }};">
                    {% if is_isomiR %}
                      <td><a href="/cancer_isomir_target/{{ cancer }}/{{ molecule }}/{{ target }}">{{ target }}</a></td>
                    {% else %}
                      <td><a href="/cancer_isomir_target/{{ cancer }}/{{ target }}/{{ molecule }}">{{ target }}</a></td>
                    {% endif %}
                    <td >{{ row['spearman_corr'] }}</td>
                    <td >{{ row['spearman_p_value']|safe }}</td>
                    <td >{{ row['target_median_tpm'] if is_isomiR else row['isomir_median_tpm'] }}</td>
                    <td >{{ row['mirdb_score'] }}</td>
                    <td >{{ row['targetscan_score'] }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endfor %}
        
        </div>

      </div>
    </div>
    
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='lib/plotly-2.9.0-dist/js/plotly.min.js') }}"></script>
    <script>
      var molecule = "{{ molecule }}";
      {% if is_isomiR %}
        var units = "RPM";
      {% else %}
        var units = "TPM";
      {% endif %}
      var data = {{ expression|safe }};
    </script>
    <script src="{{ url_for('static', filename='js/cancer_molecule.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-3.6.0-dist/js/jquery-3.6.0.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar_left.js') }}"></script>

  </body>
</html>
