<hr class="my-5">

<footer class="text-center mt-4">
  <a class="mx-3 hse" href="https://www.hse.ru/en/" target="_blank">
    <img src="{{ url_for('static', filename='img/HSE_University_blue.png') }}">
  </a>
  <p class="w-50 mx-auto">
    The project was developed and maintained by the researchers
    from <a href="https://biology.hse.ru/en/" target="_blank">the Faculty of Biology and Biotechnology, HSE University</a>,
    <script>document.write(new Date().getFullYear())</script>.
  </p>
</footer>

<script src="{{ url_for('static', filename='lib/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js') }}"></script>
