<!doctype html>
<html lang="en">
  {% include 'head.html' %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/gh-fork-ribbon-0.2.3-dist/css/gh-fork-ribbon.min.css') }}">
  
  <body>
    
    <div class="container">
      <h1 class="display-4 text-center mt-4">isomiRTar</h1>
      <div class="lead text-center">
        TODO
      </div>
    </div>
    
    <a class="github-fork-ribbon" href="https://github.com/s-a-nersisyan/isomiRTar" target="_blank" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
    
    {% include 'footer.html' %}

  </body>
</html>
