<!doctype html>
<html lang="en">
  {% include 'head.html' %}

  <body style="position: relative;">
    {% include 'top_menu.html' %}

    <div class="container-fluid">
      <div class="row">
        {% include 'sidebar.html' %}

        <div class="col-10 offset-2 px-3 content">
          <h2>Pan-cancer expression distribution</h2>
          <div>
            <div id="expression-plot"></div>
            <p class="">*Inlcuded in the list of 5'-isomiRs contributing to 95% of total reads from the corresponding cancer</p>
          </div>
        </div>

      </div>
    </div>
    
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='lib/plotly-2.9.0-dist/js/plotly.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/d3-3.5.17-dist/js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/isomiR.js') }}"></script>

  </body>
</html>
