<nav class="topmenu navbar fixed-top navbar-light bg-white d-flex justify-content-between px-2">
  <a class="navbar-brand ps-3" style="flex-grow: 1; flex-basis: 0;" href="/">isomiRTar</a>
  
  <nav aria-label="breadcrumb" class="pe-3">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="/">isomiRTar</a></li>
      {% if page == "miRNA" %}
        <li class="breadcrumb-item active" aria-current="page">{{ miRNA }}</li>
      {% elif page == "molecule" %}
        {% if is_isomiR %}
          <li class="breadcrumb-item">
            <a href="/miRNA/{{ molecule.split("|")[0] }}">{{ molecule.split("|")[0] }}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ molecule }}</li>
        {% else %}
          <li class="breadcrumb-item active" aria-current="page">{{ molecule }}</li>
        {% endif %}
      {% elif page == "cancer" %}
        <li class="breadcrumb-item active" aria-current="page">TCGA-{{ cancer }}</li>
      {% elif page == "cancer_molecule" %}
        <li class="breadcrumb-item">
          <a href="/cancer/{{ cancer }}">TCGA-{{ cancer }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ molecule }}</li>
      {% elif page == "cancer_isomir_target" %}
        <li class="breadcrumb-item">
          <a href="/cancer/{{ cancer }}">TCGA-{{ cancer }}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/cancer_molecule/{{ cancer }}/{{ isomir }}">{{ isomir }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ target }}</li>
      {% endif %}
    </ol>
  </nav>
</nav>
