<!doctype html>
<html lang="en">
  {% include 'head.html' %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cancer.css') }}">

  <body style="position: relative;">
    {% include 'top_menu.html' %}

    <div class="container-fluid">
      <div class="row">
        {% include 'molecule/sidebar.html' %}

        <div class="col-10 offset-2 px-3 content">

          <h2 id="expression">TCGA expression profiles</h2>
          <div class="network-container">
            <div id="network"></div>
            <div id="loader" style="position: absolute; left: 50%; top: 50%; text-align: center;">
              Loading the network<br>0%
            </div>
          </div>

          <h2>Highly expressed isomiRs</h2>
          {% for he in [True, False] %}
            Highly expressed isomiRs: {{ he }}
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th class="align-top">5'-isomiR</th>
                  <th class="align-top">Median expression (RPM)</th>
                  <th class="align-top">Number of targets predicted by miRDB or TargetScan*</th>
                  <th class="align-top">Number of significantly anti-correlated targets</th>
                </tr>
              </thead>
              <tbody>
                {% for _, row in targets_summary.loc[targets_summary['highly_expressed'] == he].iterrows() %}
                <tr>
                    <td style="width: 25%;">{{ row['isomir'] }}</td>
                    <td style="width: 25%;">{{ row['isomir_median_tpm'] }}</td>
                    <td style="width: 25%;">{{ row['num_targets_expressed'] }}</td>
                    <td style="width: 25%;">{{ row['num_targets_anticorrelated'] }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endfor %}
        
        </div>

      </div>
    </div>
    
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='lib/d3-3.5.17-dist/js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/vis-9.1.2-dist/js/vis-network.min.js') }}"></script>
    <script>
      var nodes = {{network["nodes"]|safe}};
      var edges = {{network["edges"]|safe}};
    </script>
    <script src="{{ url_for('static', filename='js/cancer.js') }}"></script>

  </body>
</html>
