<nav class="col-2 sidebar bg-white">
  <div class="position-sticky">

      <ul class="nav nav-pills flex-column mt-4" id="navbar-protein">
        <li class="nav-item">
          <a class="nav-link" href="#expression">
            Interaction network
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#he-isomirs"> 
            Highly expressed 5'&#8209;isomiRs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#non-he-isomirs">
            Non-highly expressed 5'&#8209;isomiRs
          </a>
        </li>
      </ul>

  </div>
</nav>
