<!--<nav class="col-md-3 col-lg-2 d-md-block sidebar collapse bg-white">-->
<nav class="col-2 sidebar bg-white">
  <div class="position-sticky">

      <ul class="nav nav-pills flex-column mt-4" id="navbar-protein">
        <li class="nav-item">
          <a class="nav-link" href="#Summary">
            Expression
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Summary">
            Targets
          </a>
        </li>
      </ul>

  </div>
</nav>
