<!doctype html>
<html lang="en">
  {% include 'head.html' %}

  <body style="position: relative;">
    {% include 'top_menu.html' %}

    <div class="container-fluid">
      <div class="row">
        {% include 'miRNA/sidebar.html' %}

        <div class="col-10 offset-2 px-3 content">

          <h2 id="expression">The distribution of {{ miRNA }} isomirs expression across TCGA cancers</h2>
          <div>
            <div id="expression-plot"></div>
          </div>

          <h2 id="targets">{{ miRNA }} isomir targets summary</h2>
          <p>
            IsomiR target genes are predicted with the use of miRDB and TargetScan.
            Only miRDB predictions with Target Score &geq; 80 are counted.
            The number of TargetScan predictions is harmonized with miRDB
            by selecting the same amount of targets with the lowest
            cumulative weighted context++ scores.
            Note that these predictions are based solely on isomiR and target gene sequences 
            (i.e., they are not cell/tissue specific).
          </p>
          <p>
            The below table shows overlap in the sets of predicted targets for 5'-isomiRs
            of {{ miRNA }}. Overlap significance is measured by the Jaccard index (intersection / union).
          </p>
          {% set width = 100 / (isomiRs|length + 1) %}
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="align-top"></th>
                {% for isomiR in isomiRs %}
                  <th class="align-top">{{ isomiR.split("|")[1] }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for i in range(isomiRs|length) %}
                <tr>
                  <td style="width: {{ width }}%;"><b>{{ isomiRs[i].split("|")[1] }}</b></td>
                  {% for j in range(isomiRs|length) %}
                    {% if i < j %}
                      <td style="width: {{ width }}%;"></td>
                    {% else %}
                      <td style="width: {{ width }}%;">
                        {{ "{:.2f}".format(jaccard[i][j]) }} ({{ intersection[i][j] }} / {{ union[i][j] }})
                      </td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>

      </div>
    </div>
    
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='lib/plotly-2.9.0-dist/js/plotly.min.js') }}"></script>
    <script>
      var miRNA = "{{ miRNA }}"
      var data = {{ expression|safe }};
    </script>
    <script src="{{ url_for('static', filename='js/miRNA.js') }}"></script>

  </body>
</html>
