<nav class="col-2 sidebar bg-white">
  <div class="position-sticky">

      <ul class="nav nav-pills flex-column mt-4" id="navbar-left">
        <li class="nav-item">
          <a class="nav-link" href="#expression">
            Expression
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#targeting">
            Targeting
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#see-also">
            See also
          </a>
        </li>
      </ul>

  </div>
</nav>
