<!doctype html>
<html lang="en">
  {% include 'head.html' %}

  <body style="position: relative;">
    {% include 'top_menu.html' %}

    <div class="container-fluid">
      <div class="row">
        {% include 'molecule/sidebar.html' %}

        <div class="col-10 offset-2 px-3 content">

          <h2 id="expression">TCGA expression profiles</h2>
          <div>
            <div id="expression-plot"></div>
            <p class="">*Inlcuded in the list of 5'-isomiRs contributing to 95% of total reads in the corresponding cancer</p>
          </div>

          <h2 id="sequence-based-targets">Sequence-based predicted targets</h2>
          Sequence-based target prediction (miRDB and TargetScan).
          Write about miRDB >= 80 and TS harmonization. Disclaimer about non-cancer specificity.
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="align-top">Target gene</th>
                <th class="align-top">miRDB Target Score</th>
                <th class="align-top">TargetScan cumulative weighted context++ score</th>
              </tr>
            </thead>
            <tbody>
              {% for target, row in targets_seq.iterrows()%}
                <tr>
                  <td style="width: 33.3%;">{{ target }}</td>
                  <td style="width: 33.3%;">{{ row['mirdb_score'] }}</td>
                  <td style="width: 33.3%;">{{ row['targetscan_score'] }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <h2 id="targets">Pan-cancer conserved targets</h2>
          Table with target and number of cancers (n >= 10).
          Heatmap with correlations with them. Disclaimer about < -0.3 corr.
          <ul>
            {% for source, target, cancers in targets_conserved %}
              <li>{{ source }} &#x2192; {{ target }} in {{ cancers|length}} cancers: {{ ", ".join(cancers) }}</li>
            {% endfor %}
          </ul>

          <h2 id="targets">Neighboring 5'-isomiRs</h2>
          1. List + something about expression (e.g., where it is highly expressed)
          2. Common targets

        </div>

      </div>
    </div>
    
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='lib/plotly-2.9.0-dist/js/plotly.min.js') }}"></script>
    <script>
      var data = {{expression|safe}};
    </script>    
    <script src="{{ url_for('static', filename='js/molecule.js') }}"></script>

  </body>
</html>
